.container{
    background-color:darkcyan;
   
  
    
   
    width: 700px;
    margin:0px;
     height:600px;
   margin-left: 410px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(4,60px) ;
    grid-gap:15px;
    grid-row-gap:60px;
    background: rgb(9,115,123);
    background: linear-gradient(90deg, rgba(9,115,123,1) 53%, rgba(0,212,255,0.6587885154061625) 100%);
 
}

.container1{
    visibility: visible;
    margin-left: 99px;
    
    background:rgba(180, 211, 174, 0.333);
    background:linear-gradient(90deg,rgba(0,212,255,0.6587885154061625)
    50%,rgba(0,212,255,0.6587885154061625)100%);
    width:700px;
    height:11%;
    margin-right: auto;
    margin-left: auto;
    
    background-color: darkgrey;
    
    
}
.result{
    border-radius: 2px;
    border:2px;
    width:400;
 background-color: whitesmoke;
 height: 90px;
 
    
 
}
.class1{
   border:solid black;
   border-radius: 10px;
   text-align: center   ;
   
    
   
}
.a{
   
    border: none;
    color: black
    ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   
    border-radius: 10px;
    height: 55px;
    width: 157px;
    font-size: larger;
    font-style: italic;
    font-weight: 200;
    font: 100;
    text-align: center;
    font-family:system-ui;
    

 
   
}
.a:hover{
    background: rgb(180,201,202);
background: linear-gradient(90deg, rgba(180,201,202,1) 0%, rgba(0,207,255,0) 100%);
    transition:0.4s;
    transform: rotate(2);
}
.b{
    height: 55px;
    width: 90px;
    margin-left: -74px;

    
    
   
  

}
.c{
    border-left:solid black 2px ;
    border-left-color: black;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right:-10px;
    width:80px;
    border-right:solid black 2px;
    
}
.d{
    border-left:solid black 2px;
}

.add{
    margin-top:-55px ;
    margin-left: 150px;
}

 
    

.add1{
    margin-right:-150px;
    margin-top:-55px
}
img{
    margin-top:-390px;
    margin-left:690px;
    
}
span{

    font-size: large;
    font-family:'Courier New', Courier, monospace;
    color:rgb(79, 79, 213);
    color:linear-gradient(90deg,rgba(21, 33, 161, 1) 50%,rgba(7, 7, 9, 1) 50%);
     margin-left:36% ;
     
     
     
}
.ligne1{
    width:20px;
    height:50px;
}
.a:active{
    transition:ease-in-out;
    background: rgb(49, 41, 204);
    background: linear-gradient(90deg, rgb(13, 119, 146) 0%, rgba(16, 137, 165, 0) 100%);
    
}

body {
    background-image:url("r.jpg");
    background-size: cover;
    
}
